@mixin default-animation() {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@mixin sprites($pos-left, $pos-right) {
  background: url('../img/sprites.png') $pos-left $pos-right no-repeat;
}

@mixin icon-styles ($pos-right) {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 14px;
  right: $pos-right;
}
@mixin product-style() {
  padding: 30px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  background: #fff;
}
@mixin content-background() {
  content: '';
  background: url('../img/view-all.png') no-repeat center;
  width: 6px;
  height: 10px;
  position: absolute;
  top: 5px;
  right: -15px;
}

